body{
    background-color: lightgrey;
    width: 92%;
    height: 100%;
}

header{
    height: 5%;
    width: 100%;
    float: top;
    margin-left: 7%;
    margin-top: 1%;
}

#ingredientes{
    float: left;
    background-color:#00374f;
    margin: 1%;
    width: 33%;
}

img{
    height: 300px;
    margin-left: 1%;
}

div > h4{
    color: #5c5c3d;
    margin-left: 1%;
}

div > p{
    margin-left: 1%;
    color: aliceblue;
}

div > ul > li{
    font-weight: bold;
}

#top{
    margin-bottom: 2%;
    margin-top: 5%;
    margin-left: 2%;
    margin-right: 2%;
    width: 96%;
}

#bottom{
    margin-bottom: 5%;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    width: 96%;
}

#procedimiento{
    float: right;
    width: 40%;
    
}

iframe{
    width:460px; 
    height:315px;
}